@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4 mb-4">Online Payment Coming Soon</h1>
        <p class="lead">We are working hard to bring the online payment feature to you. Stay tuned for updates.</p>
        <a class="btn btn-primary btn-lg" asp-action="CheckOut" asp-controller="Home">Go To Check Out</a>
    </div>
</div>


